# Explore Snow Survey Data

In [2]:
import pandas as pd 
import numpy as np

# Read in snow survey data
df = pd.read_csv('ASDN_csv/ASDN_Snow_survey.csv')

In [3]:
df.head()

,Site,Year,Date,Plot,Location,Snow_cover,Water_cover,Land_cover,Total_cover,Observer,Notes
0,barr,2011,2011-05-29,brw1,b10,90.0,0.0,10.0,100.0,adoll,NaN
1,barr,2011,2011-05-29,brw1,b12,100.0,0.0,0.0,100.0,adoll,NaN
2,barr,2011,2011-05-29,brw1,b2,90.0,0.0,10.0,100.0,adoll,NaN
3,barr,2011,2011-05-29,brw1,b4,100.0,0.0,0.0,100.0,adoll,NaN
4,barr,2011,2011-05-29,brw1,b6,95.0,0.0,5.0,100.0,adoll,NaN

In [4]:
df.dtypes

Site            object
Year             int64
Date            object
Plot            object
Location        object
Snow_cover     float64
Water_cover    float64
Land_cover     float64
Total_cover    float64
Observer        object
Notes           object
dtype: object

In [5]:
df.describe()

               Year    Snow_cover   Water_cover    Land_cover  Total_cover
count  27936.000000  27936.000000  27936.000000  27936.000000      27936.0
mean    2012.354059     20.709828     17.280015     62.010157        100.0
std        1.248833     34.462748     22.983631     34.928292          0.0
min     2006.000000      0.000000      0.000000      0.000000        100.0
25%     2011.000000      0.000000      0.000000     30.000000        100.0
50%     2012.000000      0.000000     10.000000     70.000000        100.0
75%     2013.000000     30.000000     25.000000     95.000000        100.0
max     2014.000000    100.000000    100.000000    100.000000        100.0

In [6]:
df.isna().sum()

Site               0
Year               0
Date               0
Plot             154
Location           9
Snow_cover         0
Water_cover        0
Land_cover         0
Total_cover        0
Observer           0
Notes          27128
dtype: int64